@model AcunMedyaTravelProject.Entities.Footer

<div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">İletişim</h4>
                    <a href=""><i class="fas fa-home me-2"></i> @Model.Address</a>
                    <a href=""><i class="fas fa-envelope me-2"></i> @Model.Email</a>
                    <a href=""><i class="fas fa-phone me-2"></i> @Model.Phone</a>
                    <a href=""><i class="fas fa-print me-2"></i> @Model.Fax</a>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-white me-2"></i>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="@Model.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="@Model.TwitterUrl"><i class="fab fa-twitter"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="@Model.InstagramUrl"><i class="fab fa-instagram"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="@Model.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
